
MATH4573Online/.DS_Store
*.ids
*.jax
*.idv
*.oc
*.syncdb
*.4ct
*.4tc
*.aux
*.auxlock
*.dvi
*.fdb_latexmk
*.fls
*.html
*.out
*.sage
*.py
*.scmd
*.sout
*.tmp
*.xref
*.lg
*.log
*.json
.DS_Store
*.synctex(busy)
*.gz
*.toc
*.cls
.DS_Store
.DS_Store
.DS_Store
