
MATH4573Online/.DS_Store
*.ids
*.jax
*.idv
*.oc
*.syncdb
*.4ct
*.4tc
*.aux
*.auxlock
*.dvi
*.fdb_latexmk
*.fls
*.html
*.out
*.sage
*.scmd
*.sout
*.tmp
*.xref
*.lg
*.log
*.json
.DS_Store
*.synctex(busy)
*.gz
*.toc
*.cls
.DS_Store
Spring24Ximera/April13.tex
*.bbl
*.blg
*.glo
*.ist
*.code-workspace
MAT255Sp24/ReadingMar13.tex
MAT255Sp24/ReadingMar13.pdf
MAT255Sp24/Rubrics/output.tex
MAT255Sp24/Rubrics/output.pdf
MAT255Sp24/Week10Spring24.tex
MAT255Sp24/Week11Spring24.pdf
MAT255Sp24/Week11Spring24.tex
MAT255Sp24/Week1Spring24.tex
MAT255Sp24/Week2Spring24.tex
MAT255Sp24/Week3Spring24.tex
MAT255Sp24/Week4Spring24.tex
MAT255Sp24/Week5Spring24.tex
MAT255Sp24/Week6Spring24.tex
MAT255Sp24/Week7Spring24.tex
MAT255Sp24/Week8Spring24.tex
MAT255Sp24/Week9Spring24.tex
MAT255Sp24/Rubrics/convertFromXml.py
MATH4573Online/ElementaryNumberTheory.pdf
MAT255Sp24/FinalProjectTopics/Options.tex
MAT255Sp24/FinalProjectTopics/Options.pdf
